---
const {
  title = 'Aether Theme',
  description = 'This is a sample description for aether astro theme',
} = Astro.props;
import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import { isTransitionEnabled } from '../data';
import '../styles/styles.css';
import { ViewTransitions } from 'astro:transitions';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <title>{title}</title>
    {isTransitionEnabled && <ViewTransitions />}
  </head>
  <body>
    <slot />
  </body>
</html>
